// // 颜色
// $accentColor = #e3e3e3
// $textColor = #b8b8b8
// $borderColor = #373737
// $codeBgColor = #282c34
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// $codeBgColor = #282c34//默认背景颜色
// // 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px

// // 响应式变化点
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

// //示例修改相关样式f12找到需要修改的地方找到对应class类拿过来直接用就行了
//     .sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
//       opacity :1
//     }

//     .no-sidebar, .page {
//         background-color: #343b44
//     }
